a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 20px;
    font-size: 10pt;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: 0.4s ease-in-out;
}
.btn {
    border-style: solid;
    border-radius: 5px;
    color: #0865c2;
    border-width: 2px;
}

table {border: 1px solid #6cf;}
th {
    font-weight: normal;
    font-size: 13px;
    color: #039;
    text-transform: uppercase;
    border-right: 1px solid #0865c2;
    border-top: 1px solid #0865c2;
    border-left: 1px solid #0865c2;
    border-bottom: 1px solid #fff;
    padding: 20px;
}
td {
    color: #669;
    border-right: 1px dashed #6cf;
    padding: 10px 20px;
}
form input{
    z-index: 10;
    width: 150px;
    height: auto;
    max-width: 100%;
    margin-bottom: 20px;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 2px;
    background-color: hsla(0, 0%, 86.7%, 0.7);
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
    color: #0865c2;
    font-size: 12pt;
    font-weight: 600;
    appearance: textfield;
}
form lable{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}