<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<h2>Студент</h2>
<form action="#" th:action="@{/add}" th:object="${student}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <lable>Фамилия:</lable>
    <input type="text" th:field="*{firstName}"/>
    <lable>Имя:</lable>
    <input type="text" th:field="*{name}"/>
    <lable>Отчество:</lable>
    <input type="text" th:field="*{secondName}"/>
    <lable>Оценка:</lable>
    <input type="number" th:field="*{grade}"/>
    <lable>Группа:</lable>
    <input type="text" th:field="*{groupField}"/>
    <input type="submit" value="Сохранить"/>
</form>
</body>
</html>