<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div>
    <table border="1" width="600" style="border-collapse:collapse;">
        <thead>
        <tr>
            <th><a th:href="@{/(orderBy='firstName')}">Фамилия</a></th>
            <th><a th:href="@{/(orderBy='name')}">Имя</a></th>
            <th><a th:href="@{/(orderBy='secondName')}">Отчество</a></th>
            <th><a th:href="@{/(orderBy='grade')}">Оценка</a></th>
            <th><a th:href="@{/(orderBy='groupField')}">Группа</a></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student: ${students}">
            <td><span th:text="${student.firstName}"></span></td>
            <td><span th:text="${student.name}"></span></td>
            <td><span th:text="${student.secondName}"></span></td>
            <td><span th:text="${student.grade}"></span></td>
            <td><span th:text="${student.groupField}"></span></td>
            <td>
                <a class="btn" href="/#" th:onclick="'deleteData('+ *{student.id} +')'">Удалить</a>
            </td>
            <td><a class="btn" th:href="@{/edit/{id}(id=*{student.id})}">Изменить</a></td>
        </tr>
        </tbody>
    </table>
    <br/>
</div>
<a class="btn" th:href="@{/add}">Добавить</a>
</body>
<script>
    function deleteData(item) {
        return fetch('/' + item, {
            method: 'delete'
        })
            .then(response => response.json())
            .then(() => document.location.reload());
    }
</script>
</html>
